.copyright {
  color: #8a8a8a;
  text-align: center;
  font-family: 'Athelas', 'STHeiti', 'Microsoft Yahei', serif;
  margin: 40px auto 20px;
  max-width: 980px;

  .text {
      text-align: center;}
}