.page-nav, .paginator {
    padding-bottom: 10px;
    .next {
        margin-right: 16px;
        float: right;
        &:hover {
        transition: .2s ease-out;
        transform: translateX(5px);}
    }
    .prev {
        margin-left: 16px;
        float: left;
        &:hover {
            transition: .2s ease-out;
            transform: translateX(-5px);}
        }
    }
.post-nav {
    padding: 15px 18px
    a::before {
        content: '#'
    }}
