
.posts-wrapper {
    margin-top: 20px;
    
    border-radius: 8px;
    float: left;
    width: 73%;

    .post {
        padding: 30px 0px;
        border-bottom: 1px solid #eee;
}}
.post-title {
    font-size: 38px;
    color: #555555;
    font-family: 'Montserrat';

}
.sub {
        color: #aaa;
        margin-bottom: 0px;}

.clearfix {
    zoom 1
    &:after{
        display block
        clear both
        content ""
        visibility hidden
        height 0}}

.post-wrapper {
    margin-top: 20px
        .post {
        padding: 30px 20px;
        border-bottom: 1px solid #eee;
}

}